<!DOCTYPE xml>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/epay/epayApp/logs/app.log</file>
        <encoder>
            <pattern>%date %level [%file:%line] %msg%n </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="TRACE">
    </logger>

    <logger name="com.ning" level="TRACE">>
    </logger>

    <logger name="org.apache.activemq" level="TRACE">
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
